.movie-column,
.seat-column,
.slot-column {
    display: inline-block;
    margin: 5px;
    color: rgb(0, 0, 0);
    border: 1px rgb(0, 0, 0) ridge;
    padding: 10px 15px;
    line-height: 1px;
    border-radius: 5px;
}

.movie-row,
.seat-row,
.slot-row {
    border-radius: 10px;
    border: 1px black ridge;
    padding: 10px;
    margin-bottom: 10px;
    ;
}

.seat-column {
    min-width: 100px;
    text-align: center;
    padding-bottom: 15px;
    ;
}

.book-button button {
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
    color: white;
    background: rgb(212, 142, 38);
    background: -moz-linear-gradient(233deg, rgb(209, 66, 44) 0%, rgba(44, 108, 224, 1) 100%);
    background: -webkit-linear-gradient(233deg, rgb(209, 146, 44) 0%, rgba(44, 108, 224, 1) 100%);
    background: linear-gradient(233deg, rgb(197, 179, 15) 0%, rgba(44, 108, 224, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2cd158", endColorstr="#2c6ce0", GradientType=1);
    padding: 5px 15px;
    font-weight: 500;
}


.movie-column-selected,
.seat-column-selected,
.slot-column-selected {
    background: rgb(211, 115, 115);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    width: 50px;
    border-color: rgb(196, 196, 196);
    border-width: 1px;
}

.last-order {
    border-radius: 10px;
    border: 1px black ridge;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

/* ////////////       Custom CSS Starts     ////////////////////////////////// */

.movie-column:hover,
.seat-column:hover,
.slot-column:hover {
    cursor: pointer;
    color: #330686;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5%;
    border-radius: 10px;
    box-shadow: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.selectColumn {
    /* flex: 70%; */
    padding: 10px;
}

.bookingColumn {
    /* flex: 30%; */
    margin-top: 37.2px;
    padding: 20px;
}

.my {
    background-color: rgb(204, 32, 32);
    color: white;
    border-radius: 15px 15px 5px 5px;
}

body::-webkit-scrollbar {
    display: none;
}


 /*  For Small Screens */

@media (min-width: 800px) {
    .container {
        display: flex;
        flex-direction: row;

    }
}

 